body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#container{
    display:flex;
    flex-direction: column;
    background-color: darkgrey;
    padding: 20px;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
}
#grid{
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px 80px;
}

#display{
    background-color: aquamarine;
    display:grid;
    grid-template-rows: 30px 50px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#formula{
    grid-row-start: 1;
    text-align: right;
}

#currentNum{
    grid-row-start: 2;
    text-align: right;
    font-size: 20px;
    margin:5px;
}
.font{
    font-size: 25px;
}



@media (max-width: 600px){
    #grid{
        grid-template-columns: 50px 50px 50px 50px;
        grid-template-rows: 50px 50px 50px 50px 50px;
    }
    .font{
        font-size: 20px;
        width: 50px;
        height:50px;
        border-radius: 0px;
        border: 1px solid black;
        background-color: lightgrey;
        text-align: center;
    }
    #clear{
        font-size: 10px;
        width: 50px;
        height:50px;
        border-radius: 0;
        border: 1px solid black;
        background-color: lightgrey;
        text-align: center;
    }
    #delete{
        font-size: 10px;
        width: 50px;
        height:50px;
        border-radius: 0;
        border: 1px solid black;
        background-color: lightgrey;
        text-align: center;
    }
    .button{
        width: 50px;
        height:50px;
        border-radius: 0;
        border: 1px solid black;
        background-color: lightgrey;
        text-align: center;
    }
}